/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

/* Importing component files */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");
/* General style rules for fonts and colors */
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
  background-color: rgb(58, 113, 140);
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}


.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.card img {
  width: 150px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}